ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.bgImage {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/vip.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bgImage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    background-color: #12243a8a;
}

.the__header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #ffffff;
}

.vip__content {
    margin: 100px 0;
}

.the__tour__details {
    display: flex;
    justify-content: space-between;
}

.tour__left {
    width: 45%;
}

.tour__left>h2 {
    color: #060C13;
    font-size: 35px;
}

.tour__left>p {
    color: rgba(6, 12, 19, 0.6);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tour__icons {
    display: flex;
    flex-direction: column;
}

.tour__icons>p {
    margin-bottom: 10px;
    font-weight: 600;
}

.tour__icons>p>i {
    margin-right: 30px;
}


.tour__right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tour__right > img{
    width: 48%;
    height: 212px;
    margin-bottom: 22px;
    border-radius: 15px;
    
}
.tour__right > :last-of-type{
    width: 100%;
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
}

.booking__sec {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.booking__form__left {
    width: 50%;
}

.booking__form__left > h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.schedule__box {
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 12px;
}

.box__container {
    padding: 20px;
}

.my__custom__label {
    margin-top: 15px;
}

.my__custom__label>label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    color: rgba(6, 12, 19, 0.6);
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.box__container>p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgba(6, 12, 19, 0.6);
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}
.addemail__but{
    width: 137px;
    height: 48px;
    background-color: #FF2629;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 48px;
    display: block;
    border-radius: 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.card__element{
    margin-top: 25px;
}
.border__bottom__div{
    background-color: #a9a9b0;
    width: 100%;
    height: 1px;
    margin: 25px 0;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(6, 12, 19, 0.6);
    font-size: 20px;
    font-weight: 600;
}
.submit__btn{
    width: 100%;
    padding: 15px 0;
    font-size: 17px;
    background-color: #FF2629;
    color: white;
    text-align: center;
    display: block;
    border-radius: 12px;
    border: 0;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
}
.tour__technicals{
    width: 45%;
}
.tour__technicals > h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.tec__box{
    background-color: white;
    border-radius: 12px;
    margin-bottom: 20px;
}
.tech__container{
    padding: 10px;
    display: flex;
    align-items: center;
}
.tech__container > img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.tec__info > h3{
    color: rgba(6, 12, 19, 0.6);
    font-size: 20px;
    margin-bottom: 5px;
}
.tec__info > p{
    color: rgba(6, 12, 19, 0.32);
    font-size: 15px;
}
@media (max-width:1405px) {
    .the__header__title {
        font-size: 34px;
    }
}
@media (max-width:1365px) {
    .the__header__title {
        font-size: 33px;
    }
}
@media (max-width:1324px) {
    .the__header__title {
        font-size: 32px;
    }
}
@media (max-width:1284px) {
    .the__header__title {
        font-size: 31px;
    }
}
@media (max-width:1244px) {
    .the__header__title {
        font-size: 30px;
    }
}
@media (max-width:1204px) {
    .the__header__title {
        font-size: 29px;
    }
}
@media (max-width:1164px) {
    .the__header__title {
        font-size: 28px;
    }
}
@media (max-width:1124px) {
    .the__header__title {
        font-size: 27px;
        text-align: center;
        line-height: 70px;
    }
}
@media (max-width:682px) {
    .booking__sec {
        justify-content: space-between;
        flex-direction: column;
    }
    .booking__form__left {
        width: 100%;
    }
    .tour__technicals {
        width: 100%;
    }
    .tour__technicals > h2 {
        margin-top: 20px;
    }
}
@media (max-width:642px) {
    .tour__left>h2 {
        font-size: 30px;
    }
}
@media (max-width:622px) {
    .the__header__title{
        font-size: 26px;
    }
}
@media (max-width:599px) {
    .the__header__title{
        font-size: 25px;
    }
}
@media (max-width:587px) {
    .the__header__title{
        font-size: 24px;
    }
    .tour__left>p {
        font-size: 17px;
    }
}