.tour__card {
    width: 24%;
    border-radius: 25px;
    margin-bottom: 20px;
  }
  
  .tour__trip__image__buttons {
    position: relative;
  
  }
  
  .tour__card__buttons {
    position: absolute;
    bottom: 15px;
    left: 10px;
    gap: 10px;
    display: flex;
  }
  
  .tour__public__btn {
    color: white;
    width: Hug (56px);
    height: Hug (30px);
    padding: 4px 9px 4px 9px;
    border-radius: 8px;
    background: #12243A;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .tour__live__now__btn {
    color: white;
    width: Hug (56px);
    height: Hug (30px);
    padding: 4px 9px 4px 9px;
    border-radius: 8px;
    background: #fe2629;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .tour__trip__image__buttons img {
    width: 93%;
    height: 215px;
    border-radius: 15px;
  }
  
  .tour__card__rate {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 7px;
  }
  
  .tour__card__rate__icons {
    display: flex;
    flex-direction: row;
    margin-right: 2px;
    margin-bottom: 2px;
  }
  
  .tour__card__content h4 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 19px;
    color: #060C13DE;
    width: 315px;
  }
  
  .tour__card__content p {
    margin-top: 10px;
    color: #060C1399;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  .make__reveiw__button{
    font-size: 13px;
    width: 100px;
    height: 38px;
    background-color: rgba(54, 109, 175, 1);
    color: white;
    text-align: center;
    line-height: 40px;
    display: block;
    border-radius: 12px;
    cursor: pointer;
  }
.star{
  cursor: pointer;
  transition: color 200ms;
}
.modal__header{
  background: rgb(54, 108, 175);
  box-shadow: 0px 15px 10px -15px #1111119f; 
  padding: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  outline: none;
  border: none;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 17px;
}
.modal__container{
  padding: 17px;

}
.input{
  display: none;
}
.label{
  margin: 10px 0 5px 0!important;
  font-size: 20px;
  font-weight: 400;
}
.area{
  width: 400px;
  height: 120px;
  resize: none;
  padding: 15px;
  outline: none;
  border-radius: 15px;
}
.first{
  display: flex;
  gap: 10px;
}