body {
  font-family: 'Lato', sans-serif;
  background-color: #12243a0d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.bgImage {
  width: 100%;
  height: 500px;
  background-image: url('../../assets/pexels-andrea-piacquadio-3778477.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.bgImage::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  background-color: #12243a8a;
}

.header__title {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #ffffff;
}

.main__title {
  margin-bottom: 100px;
}

.main__title>h3 {
  margin-top: 100px;
  text-align: center;
  font-size: 22px;
  color: #12243A;
}

.main__title>h3>span {
  font-weight: 800;
  font-size: 25px;
}

.blockquote>p {
  text-align: center;
  font-size: 32px;
  padding: 0 200px;
  color: #FF2629;
  margin: 30px 0;
  font-weight: 800;
}

.lastquote>p {
  text-align: center;
  font-size: 32px;
  padding: 0 150px;
  color: #FF2629;
  margin-top: 30px;
  font-weight: 800;
}

.main__title>h3:last-of-type {
  margin-top: 50px;
}

.body__content>h2:first-of-type {
  color: #FF2629;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.team__content>h2 {
  color: #12243A;
  font-size: 30px;
  font-weight: 600;
}

.team__content>p {
  margin: 30px 0;
  font-size: 20px;
  line-height: 30px;
  color: rgb(112, 112, 112)
}

.last__div {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last__div>h2 {
  color: #12243A;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.last__div>button {
  width: 137px;
  height: 48px;
  background-color: #FF2629;
  color: white;
  text-align: center;
  line-height: 48px;
  display: block;
  border-radius: 12px;
  border: 0;
  outline: 0;
}

.last__div>button>a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__box {
  width: 22%;
  text-align: center;
  margin-bottom: 50px;
}

.after__hover>img {
  width: 100%;
  height: 290px;
}

.after__hover {
  opacity: 1;
  display: block;
  position: relative;
}

.after__hover::after {
  content: '';
  position: absolute;
  opacity: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.after__hover>ul {
  position: absolute;
  margin: 0;
  padding: 20px 0;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.after__hover>ul>li {
  width: 30px;
  height: 30px;
  border: 1px solid #FF2629;
  border-radius: 50%;
  margin: 3px;
  padding: 6px;
  display: inline-block;
}

.after__hover>ul>li>i {
  color: #FF2629;
  cursor: pointer;
}

.after__hover:hover::after {
  opacity: 1;
}

.after__hover:hover ul {
  opacity: 1;
}

.card__box>h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.card__box>h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width:1200px) {
  .blockquote>p {
    padding: 0 90px;
  }

  .lastquote>p {
    padding: 0 10px;
  }
}

@media (max-width:1000px) {
  .cards {
    justify-content: space-evenly;
  }

  .card__box {
    width: 27%;
  }
}

@media (max-width:900px) {
  .header__title {
    font-size: 35px;
  }
}

@media (max-width:800px) {
  .header__title {
    font-size: 32px;
  }

  .main__title>h3 {
    margin-top: 75px;
    font-size: 20px;
  }

  .main__title>h3>span {
    font-size: 23px;
  }

  .blockquote>p {
    font-size: 25px;
    padding: 0px;
  }

  .lastquote>p {
    padding: 0px;
    font-size: 25px;
  }

  .card__box {
    width: 48%;
  }

  .team__content>h2 {
    font-size: 25px;
  }

  .team__content>p {
    font-size: 18px;
  }
}

@media (max-width:700px) {
  .header__title {
    font-size: 30px;
  }
}

@media (max-width:600px) {
  .header__title {
    font-size: 24px;
  }

  .main__title>h3>span {
    font-size: 20px;
  }

  .main__title>h3 {
    font-size: 18px;
  }

  .main__title {
    margin-bottom: 70px;
  }

  .body__content>h2:first-of-type {
    font-size: 30px;
  }

  .cards {
    justify-content: space-between;
  }
}

@media (max-width:550px) {
  .header__title {
    font-size: 23px;
  }
}

@media (max-width:500px) {
  .header__title {
    font-size: 20px;
  }

  .card__box {
    width: 43%;
  }

  .body__content>h2:first-of-type {
    font-size: 25px;
  }

  .team__content>h2 {
    font-size: 22px;
  }

  .team__content>p {
    margin: 18px 0;
    font-size: 18px;
  }

  .last__div>h2 {
    font-size: 30px;
  }
}

@media (max-width:450px) {
  .header__title {
    font-size: 19px;
  }

  .blockquote>p {
    font-size: 23px;
  }

  .lastquote>p {
    font-size: 23px;
  }

  .cards {
    justify-content: center;
  }

  .card__box {
    width: 100%;
  }

  .team__content>h2 {
    font-size: 18px;
  }

  .team__content>p {
    font-size: 17px;
  }
}
@media (max-width:430px) {
  .header__title {
    font-size: 17px;
}
}

@media (max-width:400px) {
  .header__title {
    font-size: 17px;
  }

  .main__title>h3>span {
    font-size: 18px;
  }

  .team__content>h2 {
    font-size: 19px;
  }
}
@media (max-width:396px) {
  .header__title {
    font-size: 16px;
}
}

@media (max-width:376px) {
  .header__title {
    font-size: 15px;
  }

  .team__content>h2 {
    font-size: 20px;
  }

  .last__div>h2 {
    font-size: 27px;
    margin-bottom: 30px;
  }
}

@media (max-width:351px) {
  .main__title>h3 {
    margin-top: 60px;
  }

  .blockquote>p {
    margin: 17px 0;
  }

  .main__title>h3:last-of-type {
    margin-top: 33px;
  }

  .main__title {
    margin-bottom: 60px;
  }
}
@media (max-width:349px) {
  .header__title {
    font-size: 14px;
}
}
@media (max-width:326px) {
  .header__title {
    font-size: 13px;
}
}

@media (max-width:304px) {
  .header__title {
    font-size: 12px;
  }
}