.container{
    width: 85%;
    margin: 0 auto;
}
footer {
    background-color: #12243A !important;
    padding: 50px 0;
}

.footer__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer__content ul {
    width: 16%;
}

.footer__content ul:first-of-type {
    width: 34%;
}

.footer__content ul:first-of-type li {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin: 15px 0;
    line-height: 28px;
    padding-right: 130px;
}

.footer__content .links a {
    width: 36px;
    height: 36px;
    background-color: rgba(83, 83, 83, 0.6);
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.footer__content ul li:first-of-type {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    margin-bottom: 18px;
    margin-top: 15px;
}

.footer__content ul li:not(:first-of-type) {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

.footer__footer h4 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 60px;
    position: relative;
}

.footer__footer h4::after {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: -30px;
    background-color: rgba(255, 255, 255, 0.32);
    content: "";
}
@media(max-width:768px){
    .footer__content ul:first-of-type {
        width: 50%;
        margin-bottom: 25px;
    }
    .footer__content ul {
        width: 25%;
    }
}
@media(max-width:576px){
    .footer__content ul:first-of-type {
        width: 70%;
    }
    .footer__content ul {
        width: 30%;
    }
}
@media(max-width:414px){
    .footer__content ul:first-of-type {
        width: 100%;
    }
    .footer__content ul {
        width: 50%;
    }
    .footer__content ul:first-of-type li {
        
        padding-right: 50px;
    }
}
@media(max-width:351px){
    .footer__content ul:last-of-type {
        width: 100%;
    }
    
}