* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F0EDF7;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__box {
    position: relative;
    width: 100%;
    max-width: 1223px;
    height: 780px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

.sign-up-form, .sign-in-form {
    max-width: 286px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    margin-right: 0.3rem;
}

.heading h2 {
    font-size: 23px;
    font-weight: 600;
    color: #060C13DE;
}

.heading h6 {
    color: #848383;
    font-size: 15px;
    line-height: 24px;
    display: inline;
}

.toggle {
    color: #151111;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 5px;
}

.toggle:hover {
    color: #366DAF;
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 75px;
}

.error-message{
    color: red;
    font-size: 15px;
    margin-top: 12px;
}

.error-message__small{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 51px;
    right: 5px;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-radius: 16px;
    border: 1px solid #bbb;
    padding: 21px;
    font-size: 0.95rem;
    color: #151111;
    transition: 0.4s;
}

.input-wrap label {
    position: absolute;
    left: 10px;
    top: -10px;
    /* top: 77px; */
    transform: translateY(-100%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s;
}

.input-wrap span {
    color: #366DAF;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    float: right;
    margin-top: 50px;
}


/* .input-field.active {
    border-bottom-color: #151111;
} */

.input-field.active+label {
    top: -8px;
    color: #060C1399;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background: linear-gradient(72.64deg, #366DAF 51.72%, #418AE2 104.47%);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    font-size: 18px;
}

.forgo {
    margin-bottom: 88px;
}

.forgo > a {
    color: #151111;
    transition: 0.3s;
}

.forgo > a:hover {
    color: #366DAF;
}

.sign-btnn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background: linear-gradient(72.64deg, #366DAF 51.72%, #418AE2 104.47%);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 10rem;
    transition: 0.3s;
    font-size: 18px;
}

.text {
    color: #848383;
    font-size: 15px;
}

.text a {
    color: #151111;
    transition: 0.3s;
}

.text a:hover {
    color: #366DAF;
}

main.signn form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}

main.signn form.sign-up-form {
    opacity: 1;
    pointer-events: all;
}

main.signn .forms-wrap {
    left: 55%;
}

main.signn .carousel {
    left: 0%;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #F0EDF7;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.carousel__welcome {
    position: absolute;
    top: 20%;
    left: 55px;
}

.carousel__welcome h2 {
    font-size: 20px;
}

.carousel__logo {
    width: 140%;
}

.carousel__text {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 74px;
}

.carousel__text h1 {
    font-size: 40px;
    font-weight: 800;
}

.carousel__vector {
    position: absolute;
    bottom: 0;
    right: 22px;
    width: 50%;
}

.input-wrap.success input {
    border-color: #2ecc71;
}

.input-wrap.error input {
    border-color: #e74c3c;
}

.sign__logo {
    margin: 30px 0;
}

.sign__form {
    margin-top: 50px;
}

.logo__forg {
    margin: 40px 0;
}

.heading__forg {
    margin-bottom: 70px;
}

.parent__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column__flex {
    display: flex;
    flex-direction: column;
}

.files__input{
    display: flex;
    flex-direction: row;
    margin-left: -78px;
    margin-bottom: 20px;
}

.files__label{
    display: block;
    margin-bottom: 10px;
}

/* Additional styles for file inputs */
.file-input {
    position: relative;
  }
  
  .file-input::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  .file-input::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  .file-input::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  .file-input::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  .file-input::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  .file-input::file-selector-button:active {
    background-color: #e5e7eb;
  }
  


@media (max-width: 992px) {
    .carousel__text {
        left: 65px;
    }

    .carousel__text h1 {
        font-size: 37px;
        font-weight: 800;
    }
}


@media (max-width: 850px) {
    .carousel__welcome {
        display: none;
    }

    .carousel__text {
        top: 81%;
        left: 77px;
    }

    .carousel__text h1 {
        font-size: 23px;
        font-weight: 600;
    }

    .carousel__vector {
        width: 22%;
        bottom: 63px;
        right: 56px;
    }

    .box {
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .inner-box {
        position: static;
        transform: none;
        width: revert;
        height: revert;
    }

    .forms-wrap {
        position: revert;
        width: 100%;
        height: auto;
    }

    .sign-up-form, .sign-in-form {
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }



    form.sign-up-form {
        transform: translateX(100%);
    }

    main.signn form.sign-in-form {
        transform: translateX(-100%);
    }

    main.signn form.sign-up-form {
        transform: translateX(0%);
    }

    .carousel {
        position: revert;
        height: auto;
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
    }

    .images-wrapper {
        display: none;
    }

    .text-slider {
        width: 100%;
    }
}

@media (max-width: 576px) {
    main {
        padding: 1rem;
    }

    .carousel__vector {
        width: 33%;
        bottom: 46px;
        right: 56px;
    }

    .box {
        border-radius: 2rem;
    }

    .inner-box {
        padding: 1rem;
    }

    .carousel {
        padding: 3.5rem 1rem;
        border-radius: 1.6rem;
    }

    .text-wrap {
        margin-bottom: 1rem;
    }

    .text-group h2 {
        font-size: 1.2rem;
    }

    .sign-up-form, .sign-in-form {
        padding: 1rem 2rem 1.5rem;
    }

    @media (max-width: 414px) {
        .forgo {
            margin-bottom: 105px;
        }

        .carousel {
            padding: 2.5rem 1rem;
            border-radius: 1.6rem;
        }

        .carousel__welcome {
            display: none;
        }

        .carousel__text {
            top: 83%;
            left: 51px;
        }

        .carousel__text h1 {
            font-size: 15px;
            font-weight: 600;
        }

        .carousel__vector {
            width: 31%;
            bottom: 60px;
            right: 43px;
        }
    }

    @media (max-width: 319px) {
        .carousel {
            padding: 1.5rem .5rem 1rem;
            border-radius: 1.6rem;
        }

        .carousel__welcome {
            display: none;
        }

        .carousel__text {
            top: 91%;
            left: 29px;
        }

        .carousel__text h1 {
            font-size: 12px;
            font-weight: 600;
        }

        .carousel__vector {
            width: 33%;
            bottom: 23px;
            right: 43px;
        }
    }
}